.building {
  align-items: flex-start;
  display: flex;
  height: 24px;
  mix-blend-mode: normal;
  overflow: hidden;
  width: 24px;
}
.group {
  background-size: 100% 100%;
  height: 22px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 24px;
}
.group-1 {
  background-size: 100% 100%;
  height: 1px;
  left: 20px;
  position: absolute;
  top: 15px;
  width: 2px;
}
.group-143 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 280px;
  width: 632px;
}
.group-144 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  min-height: 679px;
  width: 628px;
}
.overlap-group2 {
  height: 23px;
  margin-top: -0.8px;
  position: relative;
  width: 25px;
}
.rectangle-72 {
  height: 375px;
  mix-blend-mode: normal;
  object-fit: cover;
  width: 628px;
}
.span {
  color: var(--black);
}
.span-1 {
  color: var(--red);
}
.span2-1 {
  letter-spacing: 0;
}
.text-2 {
  color: var(--black);
  font-weight: 800;
  height: 20px;
  line-height: 30px;
  margin-bottom: -10px;
  margin-top: 32px;
  min-height: 20px;
  mix-blend-mode: normal;
  white-space: nowrap;
}
.text-3 {
  color: transparent;
  line-height: 21px;
  margin-top: 16px;
  min-height: 188px;
  width: 630px;
}
.vector-10 {
  height: 4px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 3px;
}
.vector-11 {
  height: 3px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 3px;
}
.vector-12 {
  height: 3px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 12px;
  width: 3px;
}
.vector-13 {
  height: 3px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 3px;
}
.vector-14 {
  height: 3px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 3px;
}
.vector-15 {
  height: 2px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 2px;
}
.vector-16 {
  height: 2px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 2px;
}
.vector-17 {
  height: 2px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 2px;
}
.vector-18 {
  height: 1px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 2px;
}
.vector-19 {
  height: 1px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 2px;
}
.vector-20 {
  height: 2px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 2px;
}
.vector-21 {
  height: 2px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 2px;
}
.vector-22 {
  height: 2px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 2px;
}
.vector-23 {
  height: 2px;
  left: 18px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 2px;
}
.vector-24 {
  height: 2px;
  left: 20px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 2px;
}
.vector-25 {
  height: 2px;
  left: 22px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 2px;
}
.vector-3 {
  height: 2px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 13px;
  width: 6px;
}
.vector-4 {
  height: 1px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 15px;
  width: 6px;
}
.vector-5 {
  height: 2px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 16px;
  width: 6px;
}
.vector-6 {
  height: 2px;
  left: 2px;
  mix-blend-mode: normal;
  position: absolute;
  top: 18px;
  width: 6px;
}
.vector-7 {
  height: 3px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 3px;
}
.vector-8 {
  height: 3px;
  left: 13px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 3px;
}
.vector-9 {
  height: 4px;
  left: 9px;
  mix-blend-mode: normal;
  position: absolute;
  top: 8px;
  width: 3px;
}
