.button-i2601305551-fEuPhW {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601309451-dVlfNn {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601313451-dNkSEC {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.button-i2601317351-jmD6A9 {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-FxuCn3 {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-ILOoAq {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-aDve6D {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.master-button-bEwMED {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.x26013055 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.x26013094 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.x26013134 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
.x26013173 {
  height: 40px;
  margin-right: 51px;
  margin-top: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  width: 156px;
}
